
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotatePlus {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes loaderLine {
    0% { width: 0; }
    100% { width: 140px; }
}

@keyframes loaderFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loaderText {
    from {
        opacity: 0;
        letter-spacing: 8px;
    }
    to {
        opacity: 1;
        letter-spacing: 4px;
    }
}

/* Keyframes : couleur pleine qui prend tout */
@keyframes bgCycle {
    0%   { background-color: #009DFF; } 
    25%  { background-color: #EF1367; } 
    50%  { background-color: #EF1367; } 
    70% { background-color: #009DFF; } 
    100% { background-color: #009DFF; } 
}