
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lineGrow {
    to {
        width: 120px;
    }
}

@keyframes letterAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotatePlus {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* @keyframes diagonalGradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%; 
    }
} */

@keyframes gradientAppear {
    0% {
        opacity: 0; /* couleur pleine */
        background-position: 0% 0%;
    }

    25% {
        opacity: 1; /* gradient présent */
        background-position: 100% 100%;
    }

    60% {
        opacity: 1; /* encore visible */
    }

    100% {
        opacity: 0; /* retour couleur pleine + PAUSE */
        background-position: 0% 0%;
    }
}


/* Keyframes : couleur pleine qui prend tout */
@keyframes bgCycle {
    0%   { background-color: #009DFF; } /* bleu */
    25%  { background-color: #EF1367; } /* rose plein */
    50%  { background-color: #EF1367; } /* rose plein */
    70% { background-color: #009DFF; } /* retour bleu */
    100% { background-color: #009DFF; } /* retour bleu */
}